.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
.example-icon {
    padding: 0 14px;
  }
.example-spacer {
    flex: 1 1 auto;
  }
.example-card {
    max-width: 400px;
    margin-top: 20px;
    padding-bottom: 100px;
  }
.example-header-image {
    background-image: url('../../../../assets/img/Booking.jpg');   
    background-size: cover;
  }
.ImageCard{
    width: 400px;;
    height: 400px;;
}
 